			body{
				font-family:'Comic Sans MS', cursive;

			}
			label{
				font-size: 15px;
			}
			
			
			
			a{
				font-size: 15px;
				text-decoration:underline;
				text-decoration:none;
			}
			a:link{
					color:blue;
					text-decoration:underline;
					font-weight:normal;
			}

			a:visited{
					color:red;
					text-decoration:underline;
					font-weight:normal;
			}

			a:hover{
				color:blue;
				font-weight:bold;
				text-decoration:underline;
				
			}	

			a:active{
					color:blue;
					text-decoration:none;
					font-weight:normal;
			}			
		
			h1, h2, h3, h4, h5, h6 {
				font-weight: bold !important;
			}
			h1{
				text-align:center;
				font-size: 30px;
			}
			h3{
				text-align:center;
				font-size: 18px;
			}
			
			p{
				text-align:center;
				font-size: 15px;
			}
			input[type=submit]{
				font-size: 15px;
				font-weight:bold;
			}
			/*hosted or embedded font - begin*/
			@font-face {
						font-family: 'SansationLight';
						src: url('./SansationLight/SansationLight.eot');
						src: local('SansationLight'), url('./SansationLight/SansationLight.woff') format('woff'), url('./SansationLight/SansationLight.ttf') format('truetype');
					}
			/*hosted or embedded font - end*/					
					